<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
      <form>
        <div class="form-group">
          <label for="algorithm">Algorithm : </label>
          <select class="form-control" #encryptionMethod required>
            <option value="">--Select Encryption method--</option>
            <option value="bcrypt">Bcrypt</option>
            <option value="base64">Base64</option>
            <option value="TripleDES">TripleDES</option>
            <option value="PBKD">PBKD</option>
            <option value="md5">Message Digest (MD5)</option>
            <option value="sha">SHA-512</option>
          </select>
        </div>
        <div class="form-group">
          <label for="text">Text : </label>
          <input type="text" (keyup)="encryptedPassword(encryptionMethod, pwd)" class="form-control" #pwd>
        </div>
      </form>
      <div class="form-group">
        <label for="text">Encrypted String : </label>
        <input type="text" class="form-control" [(ngModel)]="encPwd" readonly>
      </div>
    </div>
  </div>
</div>
