.wrapper{
  margin:10px;
  border: 1px solid #f2f2f2;
}
.wrapper-heading{
  padding:10px;
  font-size:24px;
}
.form-group{
  display:inline-flex;
  width: 51%
}
.first-step input{
  margin:5px;
  border-style: none;
  box-shadow: none;
  border: none;
  width:90%;

}
.form-control{
  width: 80%;
}
.first-step .input{
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 61%;
  margin: 7px;
}
input{
  min-width:60%;
}
.label{
  padding:20px;
  width:60px;
  font-size:13px;
  font-weight: bold;
}
.second-step{
  display:inline-flex;
  width:100%;
}
.date-selector{
  display: inline-grid;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width:31%;
  margin:7px;
}
.second-step .input{
  margin:10px;

}
.submit{
  width:10%;
  padding:20px;
}

@media only screen and (max-device-width : 480px) {
  .form-group{
    width: 100%;
  }
  .first-step .input{
    width: 70%;
  }
  .date-selector{
    width:70%;
  }
  .label{
    padding: 20px 0px 20px 10px;
    width: 55px;
  }
  .first-step input{
    width: 50%;
  }
}
@media only screen and (max-device-width : 1024px) and (min-device-width: 480px) {
  .form-group{
    width: 100%;

  }
  .first-step input{
    width: 50%;
  }
  .label{
    padding: 20px 0px 20px 10px;
    width: 55px;
  }
  .form-control{
    width: 80%;
  }
  .date-selector{
    width:61%;
  }
}
#logResult span{
  display: inline-block;
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  padding-top: 5px;
}
