.wrapper{
  margin:10px;
  border: 1px solid #f2f2f2;
}
.wrapper-heading{
  padding:10px;
  font-size:24px;
}
.form-group{
  display:inline-flex;
  width: 51%
}


input{
  min-width:80%;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.label {
  padding: 20px;
  width: 60px;
  font-size: 13px;
  font-weight: bold;
}

.submit-btn{
  width:10%;
}
.decrypt-container{
  display: inline-flex;
  width: 90%;
}
.pwd-decrypt-wrapper{
  margin: 15px;
  width: 50%;
  border: 1px solid #f2f2f2;
}
.file-decrypt-wrapper{
  margin: 15px;
  width: 50%;
  border: 1px solid #f2f2f2;
}
.pwd-decrypt-wrapper-form{
  margin: 10px;;
}
.file-decrypt-wrapper-form{
  margin: 10px;;
}
.input-string{
  margin-top: 15px;
}
.pass-input{
  margin-bottom: 10px;
}
@media screen and (max-width: 480px){
  .decrypt-container{
    display: block;

  }
  .pwd-decrypt-wrapper{
    width: 100%;
  }

  .file-decrypt-wrapper{
    width: 100%;
  }

}
