<div class="wrapper">
  <div class="wrapper-heading blue"><h2 class="h5 white-heading">Log</h2></div>
  <form role="form" name="logForm" id="logForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()" #fFile="ngForm">
    <div class="first-step">
      <div class="form-group">
        <div class="label"><label for="file">Step - 1</label></div>
        <div class="input" style="color:grey;">
          <input type="file" class="form-control" id="file" name="file" (change)="onFileChange()" required #AccUserImg>
          <input type="button" class="btn" required style="width: 28%; margin-left: 15px; min-width: 10%! important; padding-left: 7px;"   value="Use Sample" (click)="useSampleFile()">Submit Sample File...
        </div>

      </div>
    </div>
    <br>
    <div class="second-step">
      <div class="label"><label for="file">Step - 2</label></div>
      <div class="date-selector">
        <div class="form-group">
          <div class="label"><label for="start">Starting</label></div>
          <div class="input"><input type="date" class="form-control" id="start" name="start" ngModel #start="ngModel"></div>
        </div>
        <div class="form-group">
          <div class="label"><label for="end">&nbsp;Ending</label></div>
          <div class="input"><input type="date" class="form-control" id="end" name="end" ngModel #end="ngModel"></div>
        </div>
      </div>
    </div>
    <div class="submit">
      <button *ngIf="!isFileSelected" type="button" style="cursor: not-allowed !important" class="btn " id="btnSubmit">Submit</button>
      <input *ngIf="isFileSelected" type="submit" class="btn " id="btnSubmit">
    </div>

  </form>
  <br>

  <div *ngIf="isLogGenerated" class="" id="logResult" style="display: inline-flex;
                          border: 1px solid rgba(0, 0, 0, 0.15);
                          margin-left: 20px;
                          margin-bottom: 10px;
                          margin-right: 10px;
                          font-weight: 600;
                          padding: 0px 10px 10px 10px ;">

      <div style="display: grid;
                  padding-right: 5px;
                  padding-left: 5px;
                  border-right: 1px solid rgba(0, 0, 0, 0.15);">
        <span>DEBUG </span>
        <span id="debugData" ngModel>{{debugData}}</span>
      </div>

      <div style="display: grid;
                  padding-right: 5px;
                  padding-left: 5px;
                  border-right: 1px solid rgba(0, 0, 0, 0.15);">
        <span>INFO </span>
        <span id="infoData">{{infoData}}</span>
      </div>

      <div style="display: grid;
                  padding-right: 5px;
                  padding-left: 5px;
                  border-right: 1px solid rgba(0, 0, 0, 0.15);">
        <span>ERROR </span>
        <span id="errorData">{{errorData}}</span>
      </div>

      <div style="display: grid;
                  padding-right: 5px;
                  padding-left: 5px;
                  border-right: 1px solid rgba(0, 0, 0, 0.15);">
        <span>WARN </span>
        <span id="warnData">{{warnData}}</span>
      </div>

      <div style="display: grid;
                  padding-right: 5px;
                  padding-left: 5px;">
        <span>TRACE </span>
        <span id="traceData">{{traceData}}</span>
      </div>

  </div>

</div>
